.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 180px;
  left: 880px;
}

.pageButton {
  margin: 0 4px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background-color: #bcc2e0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pageButton:hover {
  background-color: #6c708c;
}

.pageButtonActive {
  background-color: #6c708c;
  color: #fff;
}
