.btnNonColor, .btnColor{
    width: 110px;
    height: 50px;
    border-radius: 10px;
}

.btnNonColor{
    background-color: #fff;
    border: 2px solid #a4a8bd;
    color: #6c708c;
}

.nonColor:hover{
    border: none;
    color: #fff;
    background-color: #a4a8bd;
}

.btnColor{
    background-color: #a4a8bd;
    color: #fff;
}

.btnColor:hover{
    background-color: #fff;
    border: 2px solid #a4a8bd;
    color: #6c708c;
    font-weight: 500;
}

.btnInput{
    width: 100px;
    height: 30px;
    /* padding: ; */
    border-radius: 0 10px 10px 0;
    background-color: #a4a8bd;
    color: #fff;
}